{% extends 'layout.html' %}

{%block main%}

<ol class="breadcrumb">
	<li><a href="/ad">管理首页</a></li>
	<li><a href="/ad/category">分类管理</a></li>
	<li><span>分类列表</span></li>
</ol>

<div style="padding:5px 20px;">
	<h3>分类列表</h3>

	<table class="table table-striped table-hover">
		<tr>
			<th>ID</th>
			<th>分类名称</th>
			<th>操作</th>
		</tr>

		{% for category in categories %}
			<tr>
				<td>{{category._id.toString()}}</td>
				<td>{{category.name}}</td>
				<td>
					<a href="/ad/category/edit?id={{category._id.toString()}}">修改分类名称 |</a>
					<a href="/ad/category/delete?id={{category._id.toString()}}">删除</a>
				
				</td>
			</tr>
		{% endfor %}
		
	</table>


{%include 'page.html'%}

<div>
{%endblock%}
