html,body{
    font-family: "微软雅黑" !important;
    background-color:#ebebeb;
    padding: 0 !important;
    margin: 0;
}

@font-face {
  font-family: 'iconfont';
  src: url('/public/font/icons/iconfont.eot');
  src: url('/public/font/icons/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/public/font/icons/iconfont.woff') format('woff'),
  url('/public/font/icons/iconfont.ttf') format('truetype'),
  url('/public/font/icons/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    margin-right: 8px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

body{
	position: relative;
}
a,button,input{
	outline: none;
}

#loginBtn:focus,#loginBtn:active{
	outline-color: transparent;
	background-color: #e67e22;
	color: #fff;
	border-color: #e67e22;
}

header .navbar {
    min-height: 70px;
}

header .navbar .container{
	margin-top: 12px;
	margin-left: 20px;
}

header .navbar .container .navbar-header .navbar-brand{
	margin-left: 30px;
}

header .navbar .container .navbar-header .navbar-brand img{
	width: 70%;
}

header .navbar .container .navbar-header span{
	display: none;
}

.navbar-default {
    background-color: #ffffff;
    border:none;
    box-shadow: rgb(204, 204, 204) 0px 1px 3px;
}

.navbar-default .navbar-nav > li > a:focus{
	outline-color: transparent;
	color: #333;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #e67e22;
}
.info .container .row col-md-8{
	width: 75%;
}

.info{
	margin-top: 100px;
	padding-bottom: 40px;
}

.info .container .row > div .infoMessage{
	background-color: #ebebeb;
    border-radius: 2px;
}

.info .container .row > div .infoMessage .img{
    height: 300px;
    background: url(http://ww3.sinaimg.cn/crop.0.0.980.300/6793c6f2gw1e6s27izvbfj20r808cad4.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.info .container .row > div .infoMessage .img > p img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
	position: relative;
	top:90px;
}

.info .container .row > div .infoMessage .img > p .change_avatar{
	width: 90px;
	color: #fff;
	opacity: 0;
	background-color: #333;
}

.info .container .row > div .infoMessage .img .idUsername{
	margin-top: 100px;
    margin-bottom: 8px;
    color: #fff;
    font-size: 20px;
}

.info .container .row > div .infoMessage .img p > input{
	display: none;
}


.info .container .row > div .infoMessage .img .visitCounts{
	margin-top: 10px;
	color: #fff;
	font-size: 14px;
	margin-right: 10px;
}

.info .container .row > div .infoMessage .img .Comments{
	margin-top: 10px;
	color: #fff;
	font-size: 14px;
}

.info .container .row > div .infoMessage .info-nav{
	width: 100%;
	height: 40px;
	background: #ffffff;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.info .container .row > div .infoMessage .info-nav ul li{
	text-align:center;
}

.info .container .row > div .infoMessage .isnotAdmin ul li {
    width: 16%;
    margin: 0px 17%;
}

.info .container .row > div .infoMessage .isAdmin ul li{
	margin: 0;
	width: 15%;
	margin: 0 9.16666%;
}

.info .container .row > div .infoMessage .info-nav ul li > a{
	border:none;
	color: #333;
	padding: 9px 15px;
}

.info .container .row > div .infoMessage .info-nav ul li > a:hover{
	color: #e67e22;
	background-color: #ffffff;
}

.info .container .row > div .infoMessage .info-nav ul li.active {   
	border-bottom:2px solid #e67e22;
}

.info .container .row > div .tab-content{
	background-color: #ffffff;
	margin-top: 20px;
	margin-bottom: 40px;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
    border-radius: 2px;
	padding: 20px;
}

.info .container .row > div .tab-content .article ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.info .container .row > div .tab-content .article ul li{
    padding: 20px 5px;
    border-bottom: 1px dashed #f0f0f0;
    overflow:hidden;
}

.info .container .row > div .tab-content .article ul li .text-left{
	float: left;
	font-size: 13px;
	color: #333;
    width: 65%;
}

.info .container .row > div .tab-content .article ul li .text-right{
	float: right;
	width: 25%;
}

.info .container .row > div .tab-content .article ul li .text-left a{
	text-decoration: none;
	margin:0 5px;
}

.info .container .row > div .tab-content .article ul li .text-left span{
    color: #999;
}

.info .container .row > div .tab-content .article ul li .text-right span{
	font-size: 12px;
    color: #999;
}

.info .container .row > div .tab-content .article ul li .text-right span+span{
	margin-left:5px;
}

.footerbox{
	margin:40px -10px 15px;
}

.footerbox .center{
	line-height: 32px;
}

.info .container .row > div ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.info .container .row > div .tab-content .comment ul li{
	padding: 20px 0;
    border-bottom: 1px dashed #f0f0f0;
    padding-left: 5px;
}

.info .container .row > div .tab-content .comment ul li a{
	text-decoration: none;
	margin: 0 5px;
}

.info .container .row > div .tab-content .comment ul li div{
	overflow: hidden;
	color: #333;
	font-size: 13px;	
}

.info .container .row > div .tab-content .comment ul li h5{
	margin: 0;  
	line-height: 1.8;	
    word-break:break-all;
	word-wrap:break-word;
}

.info .container .row > div .tab-content .comment ul li span{
	color: #999;
    font-size: 12px;
}

.info .container .row > div .tab-content .comment ul li div h5 > span{
    margin-right: 5px;
}

.info .container .row > div .tab-content .comment ul li p{
	font-size: 13px;
	text-overflow: ellipsis;
    word-break:break-all;
	word-wrap:break-word;
	margin-top: 10px;
}

.info .container .row > div .tab-content .comment ul li .reply_comment{
	color:#666;
	font-size:14px;
}

.info .container .row > div .tab-content .reply ul li h5{
	font-size: 15px;
}

#myModal{
	top:25%;
}

#avatarModal{
	top:6%;
}

.enterbox{
	margin-top: 20px;
	margin-bottom: 20px;
}

.registerbox{
	float: right;
	margin-bottom: 20px;
}
.widget{
	margin: 0 40px;
}
.warningbox{
	margin-bottom:8px;
	text-align:center;
	color:red;
}

@media (min-width: 992px){

	.info .container .row .col-md-8 {
	    width: 75%;
	}

	.info .container .row .col-md-offset-2 {
	    margin-left: 12.5%;
	}

}

@media (min-width: 1200px){

	.container {
	    width: 93%;
	}

}

@media (min-width: 400px){
	#myModal .modal-dialog {
	    width: 350px;
	    margin: 30px auto;
	}

	#avatarModal .modal-dialog {
	    width: 700px;
	    margin: 30px auto;
	}

	header .navbar .container .navbar-header .navbar-brand{
		margin-left:15px;
	}
}


@media (max-width:767px){

	.navbar-default{
		position: static;
		border-top: none;
	}

	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	    max-height: 500px;
	}

	header .navbar .container .navbar-header .navbar-brand img{
		margin-top: -18px;
	}

	.navbar-toggle{
		margin-top: 3px;
		margin-right: 20px;
	}

	header .navbar .container .navbar-header span{
		display: block;
		font-size: 20px;
		line-height: 35px;
	}

	header .navbar .container .navbar-header .navbar-brand{
		padding-right: 10px;
	}

	.info {
	     margin-top: 0; 
	}

	.info .container .row > div .infoMessage .isnotAdmin ul li{
		width: 30%;
	    margin: 0 10%;
	}

}

@media (max-width: 550px){
	.info .container .row > div .infoMessage .info-nav ul li{
		width: 30%;
    	margin: 0 1.666%;
	}
	
	header .navbar {
	    min-height: 65px;
	}
}

@media (max-width:400px){
	header .navbar .container .navbar-header .navbar-brand{
		margin-left: 0;
	}

	header .navbar .container .navbar-header span{
		margin-top: 2px;
	}
}

/**news**/

.news .container .row >div {
	background-color: #ffffff;
	margin-bottom: 40px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    border-radius: 2px;
    padding: 20px;
}

.news .container .row >div .newsBox h4{
	margin-top: 40px;
	margin-bottom: 20px;
}

.news .container .row >div .newsBox ul li{
    border-bottom: 1px dashed #f0f0f0;
    padding: 10px 0;
}

.news .container .row >div .newsBox ul li h5{
	margin: 0 10px;  
	line-height: 1.8;	
	text-overflow: ellipsis;
    word-break:break-all;
	word-wrap:break-word;
	font-size: 15px;
}

.news .container .row >div .newsBox ul li h5 span{
	color: #999;
	font-size: 13px;
}

/**avatar modal*/
.changeAvatar{
	// cursor: pointer;
}
